* {
  background-color: #222222;
  color: cornsilk;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-update {
  background-color: green;
  cursor: pointer;
  border-radius: 10px;
}

.button-delete {
  background-color: red;
  cursor: pointer;
  border-radius: 10px;
}

.button-submit {
  background-color: green;
  cursor: pointer;
  border-radius: 10px;
}

.button-update {
  background-color: green;
  cursor: pointer;
  border-radius: 10px;
}

.button-go-to-list{
    background-color: grey;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.button-back{
    background-color: grey;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.heading {
  margin-bottom: 40px;
}

.labels {
  padding: 20px;
}
