.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-submit{
    cursor: pointer;
}

.button-update{
    background-color: green;
    cursor: pointer;
}

.button-delete{
    background-color: red;
    cursor: pointer;
}